* {
  box-sizing: border-box;
}

header {
  height: 20vh;
  width: 100vw;
  background: #d8d8d8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
}

.shape1 {
  height: 6.25rem;
  width: 6.25rem;
  background: #588fdc;
}

.white-box {
  height: 18rem;
  align-items: center;
  padding: 4rem;
}

.white-box p {
  margin-bottom: 1rem;
}

.blue-box {
  height: 14rem;
  background: #588fdc;
}
.seaform-box {
  height: 14rem;
  background: #7be0c3;
}
.greenish-yellow-box {
  height: 14rem;
  background: #c2e791;
}
.yellow-box {
  height: 14rem;
  background: #f5e752;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.question-mark-icon {
  height: 4rem;
  width: 4rem;
  padding-bottom: 0.5rem;
}
